{% extends "core/base.html" %}

    {% block content%}
    {% for item in object_list%}
    <div class="container">
    <div class="card text-light bg-secondary mb-3 mx-auto" style="max-width: 60rem;">
        <div class="card-header text-light">{{item.title}}</div>
        <div class="card-body">
        <p class="card-text text-light">{{item.content}}</p>
        <h6 class="card-title text-light"><a class="text-light" href="{% url 'core:detail' item.pk %}">Full Page</a></h6>
        <p class="card-text text-light"><small class="text-light"><a href="">{{item.user}}</a> {{item.created}} </small></p>
        </div>
    </div>
</div>
    {% endfor%}
    {% endblock %}
